<app-message *ngIf="mCode" [message]="message"></app-message>

<div *ngIf="!loading" class="full-container form" fxLayout="column" fxLayoutAlign="center center">
  <h1>Sign in</h1>
  <form class="form-fields" fxLayout="column" [formGroup]="signinForm" (submit)="onSubmit()">
    <mat-form-field class="form-field" appearance="legacy">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="signinForm.controls.email.touched && signinForm.controls.email.invalid">
        <span *ngIf="signinForm.controls.email.errors.required">This field is mandatory.</span>
        <span *ngIf="signinForm.controls.email.errors.pattern">This field is invalid.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="signinForm.controls.password.touched && signinForm.controls.password.invalid">
        <span *ngIf="signinForm.controls.password.errors.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign in</button>
  </form>
  <a class="question" href="/resendEmail?type=RESET_PASSWORD_EMAIL_SENT">Can't remember your password?</a>
</div>
